/* Estilo global para tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table thead {
    background-color: #3498db;
    color: white;
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
}

table tbody tr {
    border-bottom: 1px solid #ddd;
}


table tbody tr:hover {
    background-color: #f1f1f1;
}

th i {
    margin-left: 5px;
    color: white;
    cursor: pointer;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para os ícones de ações */
i {
    margin: 0 5px;
    cursor: pointer;
}

i:hover {
    color: #2980b9;
}

/* Estilo para o campo de busca */
#searchBar {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

/* Estilo para os controles de paginação */
#paginationControls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#paginationControls button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

#paginationControls button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

#paginationControls span {
    margin: 0 10px;
    font-size: 1.1em;
}
