<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Produto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div>
            <h1>Detalhes do Produto</h1>
        </div>
        <div class="productInfos">
            <p>ID: {{ produto[0] }}</p>
            <p>Nome: {{ produto[1] }}</p>
            <p>Cadastrado por: {{ produto[2] }}</p>
            <p>Quantidade: {{ produto[3] }}</p>
            <p>Preço: {{ produto[4] }}</p>
        </div>
        <div class="backPage">
            <a href="{{ url_for('listar_produtos') }}">Voltar</a>
        </div>
        <div class="message">
            <p>{{ get_flashed_messages()[0] }}</p>
        </div>
    </div>
</body>
</html>
