<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuário</title>
</head>
<body>
    <h1>Editar Usuário {{ usuario[0] }}</h1>
    <form method="POST">
        <label for="tipo">Tipo:</label>
        <select id="tipo" name="tipo" required>
            <option value="normal" {% if usuario[2] == 'normal' %}selected{% endif %}>Normal</option>
            <option value="super" {% if usuario[2] == 'super' %}selected{% endif %}>Super</option>
        </select>

        <button type="submit">Atualizar</button>
    </form>
    <a href="{{ url_for('listar_usuarios') }}">Voltar</a>
</body>
</html>
